# Set
#It's similar to mathematical sets and is very useful when you need to eliminate duplicates or perform operations like union, intersection, etc.

- Unordered: The elements have no fixed position.

- Mutable: You can add or remove elements.

- No duplicates: Each element must be unique.

- Unindexed: You can't access elements by position (like set[0] is invalid)

In [1]:
my_set = {1, 2, 3, 4}
print(my_set)

{1, 2, 3, 4}

In [2]:
my_set = set([1, 2, 2, 3])
print(my_set)

{1, 2, 3}

In [12]:
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [14]:
set_var= {1,2,3,3,4,5}

In [15]:
set_var

{1, 2, 3, 4, 5}

In [16]:
set_var = {"Avengers", "IronMan", "SuperMan", "BatMan"}
print(set_var)
print(type(set_var))

{'Avengers', 'BatMan', 'IronMan', 'SuperMan'}
<class 'set'>

In [17]:
set_var.add("Hulk")

In [18]:
set_var

{'Avengers', 'BatMan', 'Hulk', 'IronMan', 'SuperMan'}

# Common add an element

In [3]:
my_set.add(5)
print(my_set)

{1, 2, 3, 5}

In [4]:
# Raises an error if 3 is not in the set
my_set.remove(3) 
# Does nothing if 10 is not in the set
my_set.discard(10)

In [5]:
print(2 in my_set)

True

In [19]:
set1 = {"Avengers", "Hitman", "Ironman"}
set2 = {"Avengers", "Hitman", "Ironman", "Hulk2"}

In [20]:
# difference
set2.difference(set1)

{'Hulk2'}

In [21]:
# difference update in set
set2.difference_update(set1)

In [22]:
print(set2)

{'Hulk2'}

# Set Methods for Mathematical Operations

In [6]:
a = {1, 2, 3}
b = {3, 4, 5}

In [7]:
# union
print(a | b)         
print(a.union(b))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [8]:
# intersection
print(a & b)        
print(a.intersection(b))

{3}
{3}

In [9]:
print(a - b)

{1, 2}

In [10]:
print(a ^ b)

{1, 2, 4, 5}

In [11]:
for item in my_set:
    print(item)

1
2
5

In [24]:
set1 = {"Avengers", "Hitman", "Ironman"}
set2 = {"Avengers", "Hitman", "Ironman", "Hulk2"}

In [25]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'Ironman'}

In [26]:
print(set2)

{'Ironman', 'Avengers', 'Hulk2', 'Hitman'}

# Dictionaries

#Key-value pairs (like a real dictionary: word â†’ meaning).

#Keys must be unique and immutable (e.g., strings, numbers, tuples).

#Values can be of any data type (strings, lists, other dictionaries, etc.).

#Mutable: You can add, update, or remove items.

#Unordered in older versions of Python, but maintains insertion order

In [27]:
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

In [28]:
print(person["name"])

Alice

In [29]:
print(person.get("country", "Not found"))

Not found

# Adding or updating

In [30]:
person["email"] = "alice@example.com" 
person["age"] = 26

In [31]:
print(person)

{'name': 'Alice', 'age': 26, 'city': 'New York', 'email': 'alice@example.com'}

In [32]:
# remove 
person.pop("city")

'New York'

In [34]:
del person["age"]

KeyError: 'age'

In [35]:
person.clear()

In [36]:
for key in person:
    print(key, person[key])

In [37]:
person = dict(name="Alice", age=25, city="New York")

In [38]:
for key in person:
    print(key, person[key])

name Alice
age 25
city New York

In [41]:
for key, value in person.items():
    print(key, "->", value)

name -> Alice
age -> 25
city -> New York

In [42]:
print(person.keys())      # dict_keys(['name', 'email'])
print(person.values())    # dict_values(['Alice', 'alice@example.com'])
print(person.items())     # dict_items([('name', 'Alice'), ('email', 'alice@example.com')])

dict_keys(['name', 'age', 'city'])
dict_values(['Alice', 25, 'New York'])
dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])

In [43]:
text = "apple banana apple orange banana apple"
words = text.split()

word_count = {}
for word in words:
    word_count[word] = word_count.get(word, 0) + 1

print(word_count)

{'apple': 3, 'banana': 2, 'orange': 1}

In [1]:
dic = {}

In [2]:
type(dic)

dict

In [ ]:
dic = {1,2,3,4,5,6,7}

In [3]:
type(dic)

dict

In [4]:
# let create a dictorinary
my_dic = {"Car": "audi", "Car2": "BMW", "Car3": "Rollas Royals"}

In [5]:
type(my_dic)

dict

In [7]:
my_dic["Car"]

'audi'

In [8]:
for x in my_dic:
    print(x)

Car
Car2
Car3

In [9]:
for x in my_dic.values():
    print(x)

audi
BMW
Rollas Royals

In [10]:
for x in my_dic.items():
    print(x)

('Car', 'audi')
('Car2', 'BMW')
('Car3', 'Rollas Royals')

In [11]:
my_dic["Car4"] = "BMW 6 series"

In [12]:
print(my_dic)

{'Car': 'audi', 'Car2': 'BMW', 'Car3': 'Rollas Royals', 'Car4': 'BMW 6 series'}

In [13]:
my_dic["Car"] ="Maruthi suski"

In [14]:
print(my_dic)

{'Car': 'Maruthi suski', 'Car2': 'BMW', 'Car3': 'Rollas Royals', 'Car4': 'BMW 6 series'}

In [15]:
# Nested Dictionary

Car1_model = {"Mercedes":1960}
Car2_model = {"Audi": 1970}
Car3_model = {"Ambassador": 1980}

car_type = {"Car1": Car1_model, "Car2": Car2_model, "Car3": Car3_model}

In [16]:
print(car_type)

{'Car1': {'Mercedes': 1960}, 'Car2': {'Audi': 1970}, 'Car3': {'Ambassador': 1980}}

In [17]:
print(car_type["Car1"])

{'Mercedes': 1960}

In [18]:
print(car_type["Car1"]["Mercedes"])

1960

# Tuples

In [24]:
# A tuple is a collection of ordered and immutable (unchangeable) elements.

# It can hold multiple data types.

# Tuples are defined using parentheses ().

In [25]:
# create an empty tuples

my_tuple = tuple()

In [26]:
type(my_tuple)

tuple

In [27]:
my_tuple = ()

In [28]:
my_tuple = ("Krish", "Ankur", "John")

In [29]:
my_tuple[0]

'Krish'

In [30]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Krish', 'Ankur', 'John')

In [31]:
type(my_tuple)

tuple

In [33]:
# inbulit Function
my_tuple.count("Krish")

1

In [34]:
my_tuple[0]="Ram' # index not possible

SyntaxError: unterminated string literal (detected at line 1) (948935487.py, line 1)

In [36]:
my_tuple.count("Ankur")

1